.body{
  display: flex;
  flex-direction: row;
}
.logo {
  /* background-color: #F6F2F6; */
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 11%; 
  padding-bottom: 18%;
}
.imgLogo {
  height: 30vmax;
  width: 30vmax;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}
.code{
  font-family: monospace,monospace;
  background-color: #1D1D1D;
  /* background-color: #3F3579; */
  width: 50%;
  height: auto;
  /* padding-left: 1ch; */
  /* padding-top: 40px; */
  padding: 20px;
  counter-reset: section;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  white-space: normal;
}
.code-line::before {
  counter-increment: section;
  content: counter(section);
  color: #8e81bb;
  margin-right: 15px;
}
.code-line {
  display: inline-table;
  /* padding-left: 3ch; */
  position: relative;
}
.keyName {
  color: #e83f55;
  font-size: 0.8em;
}
.specialCharacter{
  color: #8e81bb;
  font-size: 0.8em;

}
.valueCharacter {
  color: #66b555;
  font-size: 0.8em;
}
.codeLink {
  color: #5cc2d8;
  font-size: 0.8em;

}
.codeDate {
  color: #f39667;
  font-size: 0.8em;

}
.test {
  background-color: red
}

.discoverText {
  display: flex;
  font-size: 50px;
  justify-content: center;
  top: 50%;
  position: relative;
  color: white;
  font-family: monospace,monospace;
}

.discoverContainer {
  font-family: monospace,monospace;
  background-color: #1D1D1D;
  width: 100%;
  height: 100vh;
}

.sectionSize {
  width: 100%;
  height: 100vh;
}
.arrow {
  padding-left: 10px;
}

.profilePic {
  width: 300px;
  height: 300px;
  margin-right: 80px;
  /* background-color: white; */
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  flex-direction: row;
}
.titleAndDescRight {
  display: flex;
  flex-direction: column;
  margin-left: 50px
}
.Title {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  /* padding: 20px; */
}
.Subtitle {
  color: white;
  font-size: 25px;
  margin-top: 500px;
  width: 600px;
}
.subtitleContainer {
  width: 600px;
  background-color: #1D1D1D;
  margin-top: 20px;
  /* font-family:'Helvetica'; */
}

.whiteBackgroundProfile {
  background:linear-gradient(to left,#1D1D1D, #1D1D1D 60%, white 30%, white)
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .body {
    flex-direction: column;
  }
  .code {
    width: 100%;
  }
  .imgLogo {
    height: 40vmax;
    width: 40vmax;
  }
  .logo {
    padding-top: 1%; 
    padding-bottom: 1%;
  }
}
@media screen and (max-width: 700px) {
  .code {
    font-size: 1em;
  }
  .imgLogo {
    height: 40vmax;
    width: 40vmax;
  }
  .logo {
    padding-top: 1%; 
    padding-bottom: 1%;
  }
}



/* 


.body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%); 
  overflow: hidden;
  padding: 0; 
  margin: 0;
  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
 */

