.body{
  display: flex;
  flex-direction: row;
}
.logo {
  background-color: #F6F2F6;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 11%; 
  padding-bottom: 18%;
}
.imgLogo {
  height: 30vmax;
  width: 30vmax;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}
.code{
  font-family: monospace,monospace;
  background-color: #3F3579;
  width: 50%;
  height: auto;
  padding-left: 1ch;
  padding-top: 40px;
  counter-reset: section;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  white-space: normal;
}
.code-line::before {
  counter-increment: section;
  content: counter(section);
  color: #8e81bb;
  margin-right: 15px;
}
.code-line {
  display: inline-table;
  padding-left: 3ch;
  position: relative;
}
.keyName {
  color: #e83f55;
}
.specialCharacter{
  color: #8e81bb;
}
.valueCharacter {
  color: #66b555;
}
.codeLink {
  color: #5cc2d8
}
.codeDate {
  color: #f39667
}
.test {background-color: red}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .body {
    flex-direction: column;
  }
  .code {
    width: 100%;
  }
  .imgLogo {
    height: 40vmax;
    width: 40vmax;
  }
  .logo {
    padding-top: 1%; 
    padding-bottom: 1%;
  }
}
@media screen and (max-width: 700px) {
  .code {
    font-size: 1em;
  }
  .imgLogo {
    height: 40vmax;
    width: 40vmax;
  }
  .logo {
    padding-top: 1%; 
    padding-bottom: 1%;
  }
}