.body{
  display: flex;
  flex-direction: row;
}
.logo {
  background-color: #F6F2F6;
  padding-right: 18%;
  padding-left: 18%;
  padding-top: 18%; 
  padding-bottom: 18%; 
}
.imgLogo {
  height: 25vmin;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.code{
  background-color: #3F3579;
  width: 100%;
  height: auto;
  padding-left: 1ch;
  padding-top: 40px;
}
.code-line::before {
  counter-increment: section;
  content: counter(section);
  color: #8e81bb;
  margin-right: 15px;
}
.code-line {
  display: inline-table;
  padding-left: 3ch;
  position: relative;
} 
.code {
  counter-reset: section;
  font-size: 2em;
  display: flex;
  flex-direction: column;
}
.keyName {
  color: #e83f55;
}
.specialCharacter{
  color: #8e81bb;
}
.valueCharacter {
  color: #66b555;
}
.codeLink {
  color: #5cc2d8
}
.codeDate {
  color: #f39667
}
.test {background-color: red}